html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
}


/*  HTML Reset above */



h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

.main {
  margin: 0 auto;
  width: 880px;
  margin-top: 24px;
}

.main-intro h2 {
  margin-bottom: 12px;
}

.main-intro h3,
.main-intro p {
  margin-bottom: 8px;
}

.main-img {
  position: relative;
  background: no-repeat top left url("../images/img1.jpg") ;
  /* padding: 400px 0; */
  padding-bottom: 800px;
  background-size: 40%;
  margin-bottom: 20px;
  transition: .4s;
}

.main-img-2 {
  background-image: url("../images/img2.jpg");
}

.main-img-hint {
  position: absolute;
  border: 3px solid red;
  top: 79%;
  width: 40%;
  height: 5%;
}

.main-img-hint-2 {
  top: 5%;
  width: 5%;
  height: 4%;
}

.main-img-hint:hover {
  cursor: pointer;
}




/* .hide{
  display: none;
} */



@keyframes beat {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.8,0.8);
            transform: scale(0.8, 0.8);
  }
}
.className {
  background-color:#07d;
  color: #fff;
  font-family: sans-serif;
  font-size: 20px;
  padding: 20px;
  margin:5px;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);

}
.className:focus {
  -webkit-animation: beat 1s ease-in-out backwards;
          animation: beat 1s ease-in-out backwards;
}
.className:active {
  -webkit-animation: none;
          animation: none;
}